doctype
html
  head
    title Elegance
  body
    h1 Hello
    script.
      // Vendor stuff here
      const React = require("react");
      const ReactDOM = require("react-dom");
    script(src="bundle.js")
